<div class="container-form">
  <div class="title">
    <h1>FORMULARIO DE CONTACTO</h1>
  </div>
  <div class="card-form">
    <div class="title-card">
      <h2>Contacto</h2>
    </div>
    <div class="container-card">
      <div class="social-media">
        <div class="content">
          <i class="pi pi-envelope" style="color: #14cd87"></i>
          <p>alexander.ospina&#64;cincoveinticinco.com</p>
        </div>
        <div class="content">
          <i class="pi pi-map-marker" style="color: #14cd87"></i>
          <p>
            <a href="https://maps.app.goo.gl/L74ktaeTHF4ChsM39" target="_blank">
              Calle 85 No 19C - 12, Bogotá
            </a>
          </p>
        </div>
        <div class="content">
          <i class="pi pi-phone" style="color: #14cd87"></i>
          <ul>
            <li>+(57 1) 623 1021</li>
            <li>+(57) 3506424932</li>
          </ul>
        </div>

        <div class="icons-media">
          <div class="media">
            <i class="pi pi-facebook"></i>
          </div>
          <div class="media">
            <i class="pi pi-twitter"></i>
          </div>
          <div class="media">
            <i class="pi pi-linkedin"></i>
          </div>
        </div>
      </div>
      <div class="form">
       <form action="">
        <div class="input-group">
            <input type="text" pInputText formControlName="text"/>

        </div>
        <div class="input-group"></div>
        <div class="input"></div>
        <div class="input"></div>
        <div class="input-group"></div>
        <div class="input-group"></div>
        <div class="input-comments"></div>
       </form>
      </div>
    </div>
  </div>
</div>
