<div class="container-form">
  <div class="title">
    <h1>FORMULARIO DE CONTACTO</h1>
  </div>
  <div class="card-form">
    <div class="title-card">
      <h1>Contacto</h1>
    </div>
    <div class="container-card">
      <div class="social-media">
        <div class="content">
          <i class="pi pi-envelope" style="color: #14cd87"></i>
          <p>alexander.ospina&#64;cincoveinticinco.com</p>
        </div>
        <div class="content">
          <i class="pi pi-map-marker" style="color: #14cd87"></i>
          <p>
            <a href="https://maps.app.goo.gl/L74ktaeTHF4ChsM39" target="_blank">
              Calle 85 No 19C - 12, Bogotá
            </a>
          </p>
        </div>
        <div class="content">
          <i class="pi pi-phone" style="color: #14cd87"></i>
          <ul>
            <li>+(57 1) 623 1021</li>
            <li>+(57) 3506424932</li>
          </ul>
        </div>

        <div class="icons-media">
          <div class="media">
            <i class="pi pi-facebook"></i>
          </div>
          <div class="media">
            <i class="pi pi-twitter"></i>
          </div>
          <div class="media">
            <i class="pi pi-linkedin"></i>
          </div>
        </div>
        <div class="container-button">
          <button (click)="navigate()" type="submit" mat-raised-button>Ver contactos</button>
        </div>
      </div>
      <div class="form">
        <form [formGroup]="contactForm" (submit)="sendInfo()">
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sex">
                @for (sex of genders; track sex) {
                <mat-option [value]="sex">{{ sex }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date_birthday"
                (dateChange)="validateAge($event.value)"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Nombre </mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="last_name" />
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
          </div>
          <div class="input">
            <mat-form-field appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="addres" />
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Casa / apartamento</mat-label>
              <input matInput formControlName="house" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>País</mat-label>
              <mat-select
                (selectionChange)="validateCountry($event.value)"
                formControlName="country"
              >
                @for (country of countries; track country) {
                <mat-option [value]="country">{{ country }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field *ngIf="show_department" appearance="outline">
              <mat-label>Departamento</mat-label>
              <mat-select formControlName="Deparment">
                @for (deparment of departments; track deparment) {
                <mat-option [value]="deparment">{{ deparment }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Ciudad</mat-label>
              <mat-select formControlName="City">
                @for (city of cities; track city) {
                <mat-option [value]="city">{{ city }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-comments">
            <mat-form-field appearance="outline">
              <mat-label>Comentarios</mat-label>
              <textarea formControlName="comment" matInput></textarea>
            </mat-form-field>
          </div>
          <div class="submit">
            <button type="submit" mat-raised-button>{{ labelButton }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
