.container-form {
  background: url("https://st2.depositphotos.com/1533202/7122/i/450/depositphotos_71225641-stock-photo-blurred-nature-background.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6%;
  .title {
    h1 {
      color: white;
      text-align: center;
    }
  }
  .card-form {
    background-color: white;
    width: 60%;
    border-radius: 4px;
    @media (width <= 767px) {
      height: 65vh;
      width: 95vw;
    }

    .title-card {
      display: flex;
      width: 100%;
      justify-content: center;
      padding-top: 3%;
      h1 {
        color: #14cd87;
      }
    }
    .container-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: auto;
      padding: 0% 3%;
      .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .content {
          display: flex;
          align-items: center;
          gap: 1%;
          i {
            font-size: 1.2rem;
          }
          a {
            text-decoration: none;
            color: black;
          }
          li {
            list-style: none;
          }
        }

        .icons-media {
          display: flex;
          padding-top: 2%;
          gap: 8%;
          padding-left: 7%;
          .media {
            display: flex;
            align-items: center;
            border-radius: 50%;
            padding: 2%;
            background-color: #14cd87;
            i {
              color: white;
              font-size: 1.5rem;
            }
          }
        }
      }
      .form {
        form {
          display: flex;
          flex-direction: column;
          .input-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
          }
          .input,
          .input-comments {
            display: grid;
          }
          .submit {
            display: flex;
            justify-content: flex-end;
            padding-bottom: 2%;
            button {
              background-color: #14cd87;
              color: white;
            }
          }
        }
      }
    }
  }
}
